@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 2% 40%;
    --foreground: 0 0% 14%;
    --card: 0 0% 85%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: 0 2% 40%;
        --foreground: 0 0% 14%;
        --card: 0 0% 85%;
    }
}

body {
    background: hsl(var(--background));
    color: hsl(var(--card));
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
